<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<style>
    [v-cloak] {
        display: none
    }
</style>
<body>

<div id="servermanagement">
    <div v-if="!servers">
        <h2>Loading ...</h2>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">players / telnetState</th>
            <th scope="col">actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="server in servers">
            <th scope="row">{{server.uuid | shortenUuid}}</td>
            <td>{{server.name}}</td>
            <td>
                {{server.player}} / {{ server.telnetState }} / {{ server.time }}min
            </td>
            <td>
                <button v-on:click="refreshServerInfo(server)" type="button" class="btn btn-info">
                    Refresh
                </button>

                <button v-on:click="shutdownServer(server)" type="button" class="btn btn-error">
                    Shutdown
                </button>
                <button v-on:click="stopServer(server)" type="button" class="btn btn-error">
                    Stopserver 5
                </button>

                <button v-on:click="saveWorld(server)" type="button" class="btn btn-error">
                    Saveworld
                </button>

            </td>
        </tr>
        </tbody>
    </table>

    <div class="card">
        <div class="card-body">
            <h1>Here be dragons!</h1>
    </div>
</div>

<script>
    var data = {
        message: 'A Standalone Vue Component Example',
        query: '',
        searchIndex: [],
        servers : undefined
    };

    var globalServer = null;
    var runningUpdaters = 0;

    var app = new Vue({
        el: '#servermanagement',
        data: data,
        filters: {
            shortenUuid: function (value) {
                return value.substring(0,3)+'..'+value.substring(value.length - 4, value.length - 1);
            }
        },
        methods: {
            refreshServerInfo : _refreshServerInfo,
            shutdownServer : _shutdownServer,
            stopServer : _stopServer,
            saveWorld : _saveWorld,
        }
    });

    function _shutdownServer(server) {
        axios.post('/servermanager/server/'+server.uuid+'/shutdown')
            .then(function(response) {
                console.log('response ok, shutdown')
            })
            .catch( function(error) {
                console.log(error);
            })
    }

    function _stopServer(server) {
        axios.post('/servermanager/server/'+server.uuid+'/stopserver')
            .then(function(response) {
                console.log('response ok, stopping')
            })
            .catch( function(error) {
                console.log(error);
            })
    }

    function _saveWorld(server) {
        axios.post('/servermanager/server/'+server.uuid+'/saveWorld')
            .then(function(response) {
                console.log('response ok, stopping')
            })
            .catch( function(error) {
                console.log(error);
            })
    }

    function _refreshServerInfo(server) {
        axios.get('/servermanager/server/'+server.uuid+'/status')
            .then(function(response) {
                console.log('response for server status is: ', response.data);
                server.player = response.data.serverStatus ? response.data.serverStatus.player : 'NO_DATA';
                server.telnetState = response.data.telnetState;
                server.time = response.data.serverStatus ? response.data.serverStatus.time : '-';
            })
            .catch( function(error) {
                console.log(error);
            })
    }

    axios.get('/servermanager/server')
        .then(function (response) {
            console.log(response);
            response.data.forEach(function(server) {
                // Make sure fields are present so we can fill them later
                server.player = null;
                server.telnetState = null;
                server.time = null;
                _refreshServerInfo(server)
            });
            data.servers = response.data;
        })
        .catch(function (error) {
            console.log(error);
        });
</script>
</body>


</html>