<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<style>
    [v-cloak] {
        display: none
    }
</style>
<body>

<div id="servermanagement">
    <div v-if="!servers">
        <h2>Loading ...</h2>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">state</th>
            <th scope="col">actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="server in servers">
            <th scope="row">{{server.uuid | shortenUuid}}</td>
            <td>{{server.name}}</td>
            <td>

                <span v-if="server.players && server.players > 0">Players: {{server.players}}</span>
                <span v-if="server.running && server.hasOpenPorts" class="badge badge-primary">Running</span>

                <span v-if="server.running && !server.hasOpenPorts" class="badge badge-info">Starting
                    <div v-if="server.startInProgress">
                        Starting up {{ server.startInProgress }} seconds passed.
                    </div>
                </span>

                <span v-if="!server.running" class="badge badge-warning">
                    Stopped
                </span>

            </td>
            <td>
                <button v-on:click="refreshServerInfo(server)" type="button" class="btn btn-info">
                    Refresh
                </button>
                <button
                        v-if="server.running && server.hasOpenPorts"
                        v-on:click="stopServer(server)"
                        type="button" class="btn btn-warning">
                    Kill
                </button>

                <button v-if="server.running && !server.hasOpenPorts && server.startInProgress > 240" v-on:click="stopServer(server)" type="button" class="btn btn-warning">
                    Kill again
                </button>

                <button
                        v-if="!server.running"
                        v-on:click="startServer(server)"
                        type="button" class="btn btn-primary">
                    Start
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="card">
        <div class="card-body">
            <h1>Here be dragons!</h1>
            <b>Kill</b> ist ein letztes Mittel, einen hängen gebliebenen Server zu stoppen zu starten. Zuerst sollte immer ein "shutdown" per Telnet versucht werden.
            Nach spätestens einer Minute sollte der Server heruntergefahren sein und wird dann entweder automatisch (per auto-start) neu gestartet oder kann wieder per "Start" gestartet werden.
            Nachdem ein Server gestartet wurde kann es über 2 Minuten dauern, bis man sich darauf verbinden kann!
        </div>
    </div>
</div>

<script>
    var data = {
        message: 'A Standalone Vue Component Example',
        query: '',
        searchIndex: [],
        servers : undefined
    };

    var globalServer = null;
    var runningUpdaters = 0;

    var app = new Vue({
        el: '#servermanagement',
        data: data,
        filters: {
            shortenUuid: function (value) {
                return value.substring(0,3)+'..'+value.substring(value.length - 4, value.length - 1);
            }
        },
        methods: {
            incrementProgress : function (start) {
                if (start) {
                    globalServer.startInProgress = 0;
                    if (runningUpdaters == 0) {
                        runningUpdaters = 1;
                    } else {
                        console.log('already have an update timer, don\'t start another one');
                        return;
                    }
                }
                console.log('increment progress ...', globalServer);

                globalServer.startInProgress ++;
                if (globalServer.startInProgress < 1000) {
                    setTimeout(this.incrementProgress, 1000)
                } else {
                    runningUpdaters = 0;
                }
                if (globalServer.startInProgress % 5 === 0) {
                    this.refreshServerInfo(globalServer)
                }
            },
            stopServer : function(server) {
                console.log('Do a stop on for server', server)
                globalServer = server;
                this.incrementProgress(true)

                axios.post('/servermanager/server/'+server.uuid+'/kill')
                        .then(function(response) {
                            console.log('response for server kill is: ', response.data);
                        })
                        .catch( function(error) {
                            console.log(error);
                        })
            },
            startServer : function(server) {
                console.log('Do a start on for server', server)
                globalServer = server;
                this.incrementProgress(true)

                axios.post('/servermanager/server/'+server.uuid+'/start')
                        .then(function(response) {
                            console.log('response for server start is: ', response.data);
                        })
                        .catch( function(error) {
                            console.log(error);
                        })
            },
            refreshServerInfo : function(server) {
                axios.get('/servermanager/server/'+server.uuid+'/status')
                        .then(function(response) {
                            console.log('response for server status is: ', response.data);
                            server.running = response.data.running;
                            server.players = response.data.players;
                            server.hasOpenPorts = response.data.hasOpenPorts;
                        })
                        .catch( function(error) {
                            console.log(error);
                        })
            }
        }
    });

    axios.get('/servermanager/server/withStatus')
        .then(function (response) {
            console.log(response);

            response.data.forEach(function(server) {
                server.startInProgress = 0;
                server.stopInProgress = 0;
            });

            data.servers = response.data;
        })
        .catch(function (error) {
            console.log(error);
        });
</script>
</body>


</html>